<h1>You are in views/manuscript/index.html.erb!</h1>
<p>How about that?<p>
  
  <ul>Here is the list of books:</ul>
  <% @books.each do |book| %>
  <li><%= book.title %></li>
  <li><%= book.author %></li>
  <% end %>