<h2><strong>Title:<strong></h2>
<p>
  <%= @manuscript.title %>
</p>

<h2><strong>Author:</strong></h2>
<p>
  <%= @manuscript.author %>
</p>


<%= link_to "All Manuscripts", controller: "manuscripts" %>